extends ../partials/head
block content
  span.display-none#bad-request-error= __('Please write your email and password')
  span.display-none#not-found-error= __('This account does not exist')
  span.display-none#wrong-password-error= __('Your password is wrong')
  span.display-none#network-error #{__('Please check your internet connection and try again')}
  span.display-none#unknown-error #{__('An unknown error occured, please try again later')}
  .all-wrapper
    .form-wrapper
      a.general-logo-wrapper(href="/")
        img(src="/res/images/logo.png" alt="usersmagic app")
        span usersmagic
      span.form-title= __('Welcome back!')
      span.form-subtitle= __('Log in to unleash your users’ magic')
      form.form-input-wrapper(action="/auth/login" method="POST")
        span.general-input-title= __('Email')
        input.general-input-with-border#email-input(type="text" autocomplete="off" placeholder=__('name@email.com'))
        span.general-input-title= __('Password')
        input.general-input-with-border#password-input(type="password" placeholder="••••••••")
        button.general-seablue-button
          span= __('Log in')
        .form-error-line
          span.form-error
        a.password-lost-link(href="/auth/lost_password")= __('Forgot my password')
      .form-register-link
        span= __('Don\'t have an account?')
        a(href="/auth/register")= __('Sign up')
    .content-wrapper
      span Talk to your target customers, not your friends!
