doctype html
html(lang='tr')
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0, shrink-to-fit=no, maximum-scale=1.0, user-scalable=0')
    meta(name='description' content='Usersmagic, hedef kitlene test ettirmenin en kolay yolu. Usersmagic ile hedef kitlenize ulaşın, ürününüzün kullanıcı kitlesini genişletin, sosyal medya kanalları üzerinden ürününüzün reklamını yapın. Usersmagic\'i kullanmaya başlamak için sitedeki formu doldurun, temsilcilerimiz bir hafta içinde size ulaşsın.')
    title Usersmagic | #{title}
    link(href='https://fonts.googleapis.com/css?family=Manrope:100,200,300,400,500,600,700,800,900' rel='stylesheet')
    if includes && includes.external
      if includes.external.css
        each file_name in includes.external.css
          if file_name == 'page'
            link(rel='stylesheet' href=`/css/${page}.css`)
          else if file_name == 'fontawesome'
            link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/all.css' integrity='sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ', crossorigin='anonymous')
          else
            link(rel='stylesheet' href=`/css/general/${file_name}.css`)
      if includes.external.js
        each file_name in includes.external.js
          if file_name == 'page'
            script(src=`/js/${page}.js`)
          else
            script(src=`/js/functions/${file_name}.js`)
  body
    block content
